/* !Basics */
* {
  box-sizing: border-box;
}
body {
    font-family: 'Major Mono Display', monospace;
    font-size: 1em;
    background-image: url(../public/nasaCluster.jpg);
    opacity: 150%;
    background-size: 31vmin;
    padding: 10px;
  }
/* flex to make life easy */
  .flex-grid{
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .nav-link{
    color:#b68a5c;
    opacity: 110%;
  }
  #title{
    color: rgb(2, 1, 1);
  }
  /* !navbar styling */
#ie4 {
    color: #F8F8FF;
    font-size: 2.7em;
    font-weight: bolder;
    list-style: none;
    background-color: #305040;
    border-radius: 0;
    border: 0;
    opacity: 60%;
    margin-bottom: 20px;
    padding: 0 1rem;
  }
  #ie4 ul{
    display: flex;
    gap: 1rem;
  }
  #ie4 a{
    text-decoration: none;
  }

  #maneContent{
    font-size: 0.9em;
    /* font-family: 'Major Mono Display', monospace; */
    font-weight: bolder;
    background-color: #b68a5c;
    opacity: 70%;
    margin-bottom: 20px;
  }
  #revealer{
    font-family: 'Major Mono Display', monospace;
    font-weight: 800;
    background-color: #b68a5c;
    opacity: 66%;
    margin-top: 20px;
  }

  footer{
    /* font-family: 'Major Mono Display', monospace; */
    font-weight: 800;
    background-color: #b68a5c;
    opacity: 66%;
    margin-top: 20px;
    font-size: 0.8em;
  }
  input{
    /* font-family: 'Major Mono Display', monospace; */
    font-weight: 800;
    background-color: #b68a5c;
    opacity: 66%;
    margin-top: 20px;
  }
  #pictureRef a{
    color: black;
  }
div > p{
  opacity: 200%;
  font-weight: bolder;
}